Repository KumarAditya29/LungScope, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KumarAditya29, @tanishkabajaj, @PRANAV-rgb20, @kumaraditya29

Test CODEOWNERS trigger
  ai-models/test.txt
Owners: @KumarAditya29

Add AI models requirements.txt PyTorch 2.7.1, Apple Silicon compatible
  ai-models/requirements.txt
Owners: @KumarAditya29

Add DDPM model, config, preprocessor and test scripts
  ai-models/configs/__pycache__/training_config.cpython-313.pyc
  ai-models/configs/training_config.py
  ai-models/scripts/test_setup.py
  ai-models/src/__init__.py
  ai-models/src/data/__init__.py
  ai-models/src/data/__pycache__/__init__.cpython-313.pyc
  ai-models/src/data/__pycache__/preprocessor.cpython-313.pyc
  ai-models/src/data/preprocessor.py
  ai-models/src/evaluation/__init__.py
  ai-models/src/models/__init__.py
  ai-models/src/models/__pycache__/__init__.cpython-313.pyc
  ai-models/src/models/__pycache__/ddpm.cpython-313.pyc
  ai-models/src/models/ddpm.py
  ai-models/src/serving/__init__.py
  ai-models/src/training/__init__.py
Owners: @KumarAditya29

Initial commit: Complete LungScope backend API
  .gitignore
  .gitkeep
  app/db/create_patient_tables.py
  app/db/database.py
  app/db/init_db.py
  app/db/init_medical_scans.py
  app/main.py
  app/models/medical_scan.py
  app/models/patient_profile.py
  app/models/user.py
  app/routers/user.py
  app/utils/utils.py
  requirements.txt
Owners: none

Add complete LungScope backend API to backend-api folder
  backend-api/.gitignore
  backend-api/README.md
  backend-api/app/db/create_patient_tables.py
  backend-api/app/db/database.py
  backend-api/app/db/init_db.py
  backend-api/app/db/init_medical_scans.py
  backend-api/app/main.py
  backend-api/app/models/medical_scan.py
  backend-api/app/models/patient_profile.py
  backend-api/app/models/user.py
  backend-api/app/routers/user.py
  backend-api/app/utils/utils.py
  backend-api/requirements.txt
Owners: @PRANAV-rgb20

Add .gitignore for model checkpoints and large files
  .gitignore
Owners: none

Add detailed README for LungScope project
  README.md
Owners: none

.github/CODEOWNERS:

/ai-models/    @KumarAditya29
/mobile-app/   @tanishkabajaj
/backend-api/  @PRANAV-rgb20
/shared-docs/  @kumaraditya29 @tanishkabajaj @PRANAV-rgb20
/deployment/   @PRANAV-rgb20
